.Container{
    justify-content: center;
}

.mainContent{
    margin: auto;
    width: 65%;
    padding: 10px;
}

.heroSection{
    display: flex;
}
.serviceTitle{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0;
}
.services{
    display: flex;
}